div.row {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.game-board {
  display: grid;
  grid-template-areas:
    ". topInd"
    "sideInd board";
  width: 40%;
  margin: auto;
}

.topInd {
  grid-area: topInd;
  justify-self: start;
}
.sideInd {
  grid-area: sideInd;
  justify-self: end;
}
.board {
  grid-area: board;
  justify-self: start;
}
