div.box_unchecked {
  margin: -0.5px -0.5px;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: inline-block;
}

div.box_checked {
  margin: -0.5px -0.5px;
  border: 1px solid black;
  background: black;
  height: 40px;
  width: 40px;
  display: inline-block;
}
