.App {
  text-align: center;
}

.AppHeader {
  display: grid;
  grid-template-areas: "menuIcon label";
  margin: auto;
  height: 10%;
}

.AppHeaderMenu {
  padding: 5px;
  grid-area: menuIcon;
  justify-self: end;
  align-self: center;
}

.AppHeaderLabel {
  padding: 5px;
  grid-area: label;
  justify-self: start;
  align-self: center;
}

button {
  border: 1.8px solid black;
  width: 40px;
  margin: 0 10px;
  margin-bottom: 40px;
  padding: 3px 6px;
}
